test/
txt/
*.txt
*.zwc
*.zini
.ycm_extra_conf.py
zmodules/COMPILED_AT
*deploy*key*
*.bundle
site*/
other
TODO*

tags
TAGS
*.o
*.o.c
*.orig
*.a
*.so
*.dll
*~
.*.sw?
\#*

/zmodules/META-FAQ
/zmodules/config.cache
/zmodules/config.h
/zmodules/config.log
/zmodules/config.modules
/zmodules/config.modules.sh
/zmodules/config.status
/zmodules/config.status.lineno
/zmodules/cscope.out
/zmodules/stamp-h
/zmodules/autom4te.cache

zmodules/Config/defs.mk

CVS
.#*

zmodules/Src/*.epro
zmodules/Src/*.export
zmodules/Src/*.mdh
zmodules/Src/*.mdh.tmp
zmodules/Src/*.mdhi
zmodules/Src/*.mdhs
zmodules/Src/*.syms
zmodules/Src/*.dSYM
zmodules/Src/Makemod.in
zmodules/Src/Makemod
zmodules/Src/[_a-zA-Z0-9]*.pro
zmodules/Src/ansi2knr
zmodules/Src/bltinmods.list
zmodules/Src/cscope.out
zmodules/Src/libzsh.so*
zmodules/Src/modules-bltin
zmodules/Src/modules.index
zmodules/Src/modules.index.tmp
zmodules/Src/modules.stamp
zmodules/Src/patchlevel.h
zmodules/Src/sigcount.h
zmodules/Src/signames.c
zmodules/Src/signames2.c
zmodules/Src/stamp-modobjs
zmodules/Src/stamp-modobjs.tmp
zmodules/Src/tags
zmodules/Src/TAGS
zmodules/Src/version.h
zmodules/Src/zshcurses.h
zmodules/Src/zshpaths.h
zmodules/Src/zshterm.h
zmodules/Src/zshxmods.h

zmodules/Src/zdharma/Makefile.in
zmodules/Src/zdharma/*.export
zmodules/Src/zdharma/so_locations
zmodules/Src/zdharma/*.pro
zmodules/Src/zdharma/*.epro
zmodules/Src/zdharma/*.syms
zmodules/Src/zdharma/*.dSYM
zmodules/Src/zdharma/*.mdh
zmodules/Src/zdharma/*.mdhi
zmodules/Src/zdharma/*.mdhs
zmodules/Src/zdharma/*.mdh.tmp
zmodules/Src/zdharma/errnames.c
zmodules/Src/zdharma/errcount.h
zmodules/Src/zdharma/curses_keys.h

zmodules/Test/*.tmp
/.project
doc/zsdoc/data
