[Desktop Entry]
Name={name}
Exec=
Icon={name}
Type=Application
Categories=Utility;FileTools;ConsoleOnly;
Keywords=zsh;zshell;tui-app;textual-interface;
Comment=A plugin for Zshell
MimeType=inode/directory;
Name[en]={name}
Terminal=true
StartupNotify=true
NoDisplay=false
X-AppImage-Version={version}
