/*Define rules for gradient "animation"*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Define gradient colors and start position for top bars.*/
.md-header,
.md-tabs {
  background: linear-gradient(-45deg, #845ec2, #d65db1, #ff6f91);
  background-size: 400% 400%;
  animation: Gradient 20s infinite;
  animation-delay: -5s;
}

/*Remove prev/next sections in footer and a "skip to contents" button that was
 * acting weird.*/
.md-skip{
  display: none;
}

/*Headers*/

/*h1*/
.md-typeset h1 {
  font-size: 160%;
  font-weight: bold;
  text-align: center;
}

/*h2*/
.md-typeset h2 {
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 4;
}

/*h3*/
.md-typeset h3 {
  font-size: 90%;
  font-weight: bold;
  text-align: center;
}

.md-nav {
  font-size: 0.9rem;
}

nav.md-nav.md-nav--secondary ul.md-nav__list li.md-nav__item {
  font-size: 95%;
}

nav.md-nav.md-nav--secondary ul.md-nav__list li.md-nav__item nav.md-nav {
  display: none;
}

.md-typeset .pre,
.md-typeset .admonition {
  font-size: 90%;
}

.md-header {
  font-weight: bold;
}

.md-tabs__inner .md-tabs__list .md-tabs__item .md-tabs__link {
  font-size: 160%;
  font-weight: bold;
}

/*Tables*/

table{
  table-layout: fixed;
  border: 1px solid black;
}

th{
  font-size: 120%;
}

tr{
  font-size: 130%;
}

/*Moved browser specific options last as to not tamper with mobile settings.*/
@media only screen and (min-width: 768px) {
  article.md-content__inner.md-typeset {
    font-size: 180%;
  }
}
