/*Start of Zplugin config.*/

.hljs-zpl {
  color: #a71d5d;
}

.hljs-ice {
  color: #00abe5;
}

.hljs-ice-mod {
  color: #795df3;
}

.hljs-command {
  color: #63a35c;
}

.hljs-blue {
  color: #0000ff;
}

.hljs-orange {
  color: #ffa500;
}

/* Enables syntax highlighting for inlined code.*/
code.hljs{
  display:inline;
}

/*End of Zplugin config.*/

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
  font-style: italic;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-link {
  text-decoration: underline;
}
