name: Build containers
on: [push, workflow_dispatch]

jobs:
  build-containers-with-zsh:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        zsh_version:
          - 5.1.1
          - 5.2.4
          - 5.3.1
          - 5.4.2
          - 5.5.1
          - 5.6.2
          - 5.7.1
          - 5.8
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Grab git slugs (short commit id, branch etc.)
        uses: rlespinasse/github-slug-action@v3.x

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
          use: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build_zsh_versions
        uses: docker/build-push-action@v2
        # Older zsh version tend to make GH runners hang when building
        timeout-minutes: 90
        with:
          push: true
          file: ./docker/Dockerfile
          build-args: |
            VERSION=latest
            ZINIT_ZSH_VERSION=${{ matrix.zsh_version }}-tcsetpgrp
          tags: |
            ghcr.io/${{ github.repository }}:zsh-${{ matrix.zsh_version }}
            ghcr.io/${{ github.repository }}:zsh-${{ matrix.zsh_version }}-${{ env.GITHUB_SHA_SHORT }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-container-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Grab git slugs (short commit id, branch etc.)
        uses: rlespinasse/github-slug-action@v3.x

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
          use: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build_latest
        uses: docker/build-push-action@v2
        with:
          push: true
          file: ./docker/Dockerfile
          build-args: |
            VERSION=latest
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ env.GITHUB_SHA_SHORT }}
            ghcr.io/${{ github.repository }}:${{ env.GITHUB_REF_SLUG }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
