name: Unit tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TERM: xterm-256color

on:
  pull_request:
    branches:
      - main
    paths:
      - 'tests/**'
      - 'share/**'
      - 'zinit*.zsh'
      - '.github/workflows/tests.yaml'
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  zunit-tests:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['macos-10.15','macos-11','macos-12','ubuntu-20.04','ubuntu-22.04']
      fail-fast: true

    steps:
      - name: checkout ${{ github.repository }}
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "upgrade glibc"
        if: runner.os == 'Linux'
        run: |
          sudo apt-get clean && sudo apt-get update
          sudo apt-get install \
            build-essential subversion \
            gcc gcc-multilib \
            glibc-source libc6 libc6-dev \
            musl musl-dev musl-tools

      - name: "install ncurses, svn, unzip, and zsh"
        run: |
          brew install ncurses svn unzip zsh
          exec bash
          echo "eval $(brew shellenv)" > .profile

      - name: "install revolver"
        run: |
          git clone --depth 1 https://github.com/molovo/revolver revolver
          chmod u+x revolver/revolver; mv revolver/revolver /usr/local/bin;

      - name: "install zunit"
        run: |
          git clone --depth 1 https://github.com/zdharma-continuum/zunit; cd ./zunit
          zsh -c -l './build.zsh' && cp ./zunit /usr/local/bin && chmod u+x ./zunit

      - name: 'clean up zunit & revolver'
        run: rm -rf revolver zunit

      - name: "annexes"
        run: zunit run tests/annexes.zunit

      - name: "gh-r"
        run: zunit run tests/gh-r.zunit

      - name: "ices"
        run: zunit run tests/ices.zunit

      - name: "plugins"
        run: zunit run tests/plugins.zunit

      - name: "snippets"
        run: zunit run tests/snippets.zunit
